span {
    background-color: #fdb628;
    border-radius: 5px;
    padding: 0 5px;
}

.header1 {
    background-color: #d7f3fe;
    padding: 5px 5px 5px 50px;
    border-radius: 5px;
    text-align: left;
    line-height: 1.2rem;
    margin-bottom: 5px;
    border: 2px solid #a1a1a1;
}

.header2 {
    background-color: #d8fdcb;
    padding: 5px 5px 5px 50px;
    border-radius: 5px;
    line-height: 1.5rem;
    margin-bottom: 5px;
    display: flex;
    border: 2px solid #a1a1a1;
}

.text {
    text-align: left;
    padding-left: 1rem;
}

button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #fbbc3e;
}

img {
    mix-blend-mode: multiply;
    padding-top: 25px;
}

input {
    border-radius: 5px;
    padding: 10px;
}