.container {
    height: fit-content;
    padding: 5px 50px;
    border-radius: 5px;
    border: 2px solid #a1a1a1;
    margin-bottom: 5px;
}

.class1 {
    background-color: #ffc0f8;
}

.class1 input,
button {
    border: none;
    padding: 10px;
}

.class1 button {
    cursor: pointer;
    background-color: aquamarine;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.class1 input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.class1 button:hover {
    background-color: #c7ff6d;
}

.search-bar {
    border: 2px solid gray;
    width: fit-content;
    border-radius: 5px;
}

.class2 {
    background-color: #e7f9ad;
}

.class2 input {
    padding: 10px;
    border-radius: 5px;
}

.class3 {
    background-color: #c5f8c0;
}

.class4 {
    background-color: #ffdbf9;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.class4 h2 {
    background-color: #fffb03;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.class4 img {
    mix-blend-mode: multiply;
}

.class4 .content {
    display: flex;
    gap: 3rem;
    border: 1px solid #a1a1a1;
    padding: 0 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #d4fcff;
}

.specs ul {
    padding-left: 1.2rem;
}

.class5 {
    background-color: #ffefd2;
}

.class5 input {
    padding: 10px;
    border-radius: 5px;
}

.class6 {
    background-color: #c6fca9;
}

h2 {
    text-decoration: underline;
}

.class6 input {
    padding: 10px;
    border-radius: 5px;
}

.class7 {
    background-color: #a2ddf8;
}

.prod {
    background-color: #f3fff9;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 5px;
    border: 2px solid;
}

.class8 {
    background-color: #eefcc0;
}

.class8 .btn {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.class8 .btn-disabled {
    border: 1px solid;
    border-radius: 5px;
    cursor: not-allowed;
    display: none;
}

.class8 input {
    padding: 10px;
    border-radius: 5px;
}

.class9 {
    background-color: #f2dbff;
}

.class10 {
    background-color: #d1f1fd;
}

.class10 button {
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: #f5fcc1;
    font-weight: bold;
}

.class11 {
    background-color: #fbd5d5;
}

.class11 span {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}