<div class="container class1">
    <h2>Two Way Data-Binding</h2>
    <div class="search-bar">
        <input type="text" placeholder="Search something..." (input)="Text($event)" required>
        <button (click)="SearchText()">Submit</button>
    </div>
    <h2>{{ text }}</h2>
</div>

<div class="container class2">
    <h2>ngModel</h2>
    <input type="text" placeholder="Search something..." [(ngModel)]="search">
    <h3>{{ search }}</h3>
</div>

<div class="container class3">
    <h2 title="Directives">Directives</h2>
    <ul>
        <li *ngFor="let i of fruits">{{ i }}</li>
    </ul>
</div>

<div class="container class4">
    <h2>Mobile Section</h2>
    <div class="content" *ngFor='let i of items'>
        <div class="image">
            <p><img src="{{i.img}}" alt="iPhone" width="200px"></p>
        </div>

        <div class="names">
            <h3>{{ i.name }}</h3>
            <div class="specs">
                <ul *ngFor="let spec of i.specs">
                    <li>{{ spec.first }}</li>
                    <li>{{ spec.sec }}</li>
                    <li>{{ spec.third }}</li>
                    <li>{{ spec.fourth }}</li>
                </ul>
            </div>
        </div>

        <div class="price">
            <h3>&#8377;{{ i.price }}</h3>
        </div>
    </div>
</div>

<div class="container class5">
    <h2>ngIf</h2>
    <input type="text" placeholder="Search something..." (input)="TextSearch($event)">
    <h3 *ngIf="searchValue != '' ">You have searched for: {{ searchValue }}</h3>
</div>

<div class="container class6">
    <h2>ngSwitch</h2>
    <input type="number" [(ngModel)]="day" placeholder="Enter day (1-7)" min="1" />
    <div [ngSwitch]="day" *ngIf="day !== null">
        <h3 *ngSwitchCase=1>Monday</h3>
        <h3 *ngSwitchCase=2>Tuesday</h3>
        <h3 *ngSwitchCase=3>Wednesday</h3>
        <h3 *ngSwitchCase=4>Thursday</h3>
        <h3 *ngSwitchCase=5>Friday</h3>
        <h3 *ngSwitchCase=6>Saturday</h3>
        <h3 *ngSwitchCase=7>Sunday</h3>
        <h3 *ngSwitchDefault>Wrong Input..</h3>
    </div>
</div>

<div class="container class7">
    <h2>Attribute Directives</h2>

    <div class="prod" *ngFor="let product of products">
        <h3>{{ product.name }}</h3>
        <h3>{{ product.price }}</h3>
        <div class="stock" [ngStyle]="{color : product.inStock ? 'green' : 'red'}">
            <h4 *ngIf="product.inStock === true"> Available in Stock</h4>
            <h4 *ngIf="product.inStock != true"> Out of Stock</h4>
        </div>
    </div>
</div>

<div class="container class8">
    <h2>ngClass</h2>
    <input type="text" (input)="addText1($event)" placeholder="Write Something...">
    <button [ngClass]="{'btn': true, 'btn-disabled': !text1}">Search</button>
    <h3 *ngIf="text1 != ''">Showing result for: {{ text1 }}</h3>
</div>

<div class="container class9">
    <h2>ng-template</h2>

    <div *ngIf="status; else template">
        <h3>I'm Displaying Direct HTML</h3>
    </div>

    <ng-template #template>
        <h3>I'm displaying Ng Template</h3>
    </ng-template>
</div>

<div class="container class10">
    <h2>Main View Encapsulation</h2>
    <button>Main Button</button>
</div>

<div class="container class11">
    <h2>Pipes</h2>
    <h3>{{ pipe_text | titlecase }}</h3>
    <h3>{{ pipe_text | lowercase }}</h3>
    <h3>{{ pipe_text | uppercase }}</h3>
</div>