.container {
    height: fit-content;
    padding: 5px 50px;
    background-color: #ffc0f8;
    border-radius: 5px;
    border: 2px solid #a1a1a1;
}

input,
button {
    border: none;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: aquamarine;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:hover {
    background-color: #c7ff6d;
}

.search-bar {
    border: 2px solid gray;
    width: fit-content;
    border-radius: 5px;
}