/* .container {
    height: fit-content;
    padding: 5px 50px;
    border-radius: 5px;
    border: 2px solid #a1a1a1;
    margin-bottom: 5px;
    background-color: #d5f9c6;
} 

button {
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: #f5fcc1;
    font-weight: bold;
    padding: 10px;
} */